page-info-contact {
    .thumb{
        margin-top:55px; 
        background: #ff6937; 
        height: 150px;
        color:white;
        text-align: center;
       
    }
    .thumbIcon{
        color: white;
        font-size: 116px;
        text-align: center !important;
        opacity: 0.5;
        filter: alpha(opacity=50);
        padding: 0;
        margin: 0;
        
    }
    .titleThumb{
        margin:0;
        padding: 0;
    }
    .span{
        font-weight: bold;
    }
}
