page-home {

    .icones{
        float: right !important;
        font-size:20px;
        margin-top: 13px;
       
    }
    .toolbar-title {
        text-align: center;
      }

      .titleUser{
          font-weight: bold;
          color: #ff6937;
      }
      .userIcon{
          font-size: 30px;
      }

 
}
